.C_work_form {
  width: 100%;
  max-width: 600px;
}

.C_work_c_cover {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px auto 0 auto;
  width: fit-content;
}

label[for='cover'] {
  display: block;
  text-align: center;
  margin-top: 10px;
}

.custom_input_file,
.custom_input_file::before {
  position: absolute;
  inset: 0;
}

.custom_input_file {
  width: 100%;
  max-width: fit-content;
  height: 100%;
  color: transparent;
  cursor: pointer;
}

.custom_input_file::-webkit-file-upload-button {
  display: none;
}

@media screen and (min-width: 768px) {
  .C_Work_title {
    font-size: 20px;
  }

  .C_work_form {
    max-width: 840px;
  }
}