.C_header {
  width: 100%;
}

.C_header__ul {
  list-style-type: none;
  display: flex;
  justify-content: flex-end;
  column-gap: 20px;
}

.C_header__ul a {
  color: var(--secondaire-std);
  text-decoration: none;
  text-transform: capitalize;
}

.C_header__ul li:not(:last-child)::after {
  content: '/';
  display: inline-block;
  color: var(--secondaire-std);
  margin-left: 20px;
}