.C_work_main {
  width: 100%;
  margin-top: 40px;
  text-align: center;
}

.C_work {
  width: 100%;
  max-width: 840px;
  margin: 0 auto 30px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 30px;
}

.C_work_details {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 35px;
}

.C_work_title {
  font-size: 18px;
}

.C_work_title::first-letter {
  text-transform: uppercase;
}

.C_work_description {
  text-align: justify;
}

.C_work_link {
  text-decoration: none;
  color: var(--secondaire-std);
  align-self: flex-start;
}

.C_work_c_cover {
  width: 100%;
  max-width: 350px;
  position: relative;
}

.C_work_cover_img {
  width: 100%;
  height: 250px;
}

.C_work_cover_img > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.C_work_expand {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 45px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: var(--secondaire-std);
  background-color: rgba(0, 0, 0, 25%);
  padding: 5px;
  cursor: pointer;
}

.C_work_c_image {
  width: 100%;
  height: 120px;
  max-width: 140px;
  display: inline-block;
  cursor: pointer;
}

.C_work_c_image:not(:last-child) {
  margin-right: 10px;
}

.C_work_c_image > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.C_modal {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  animation: open-modal-control 300ms ease forwards;
}

.C_modal_c_image {
  width: 0;
  height: 0;
  background-color: transparent;
  animation: open-modal 300ms ease forwards;
}

.C_modal_c_image > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

@keyframes open-modal-control {
  to { background-color: rgba(0, 0, 0, 82%); }
}

@keyframes open-modal {
  from { width: 0; height: 0; }
  to {
    width: 90vw;
    height: 90vh;
  }
}

@media screen and (min-width: 768px) {
  .C_work {
    flex-direction: row-reverse;
    column-gap: 20px;
    align-items: flex-start;
  }

  .C_work_details {
    row-gap: 35px;
  }
}