.C_loading {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 4px;
  background-color: var(--primary-l1);
  padding: 15px;
  border: 1px solid var(--secondaire-l1);
  border-radius: 8px;
  width: 100%;
  max-width: fit-content;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.C_loading > span {
  display: block;
  color: var(--secondaire-l1);
  font-weight: 400;
}

.C_loading_circle {
  width: 20px;
  height: 20px;
  border: 5px solid;
  border-top-color: transparent;
  border-radius: 50%;
  animation: rotate 600ms linear infinite;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}