*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

:root {
  --primary-std: #040C0C;
  --primary-l1: #282827;
  --primary-g1: #040404;
  --primary-std-rgba:rgba(4, 12, 12, 85%);
  --secondaire-std: #F4F4F4;
  --secondaire-l1: #F4FFE6;
  --secondaire-g1: #F4E6FF;
  --contrast-std: #124C81;
  --contrast-l1: #125A73;
  --contrast-g1: #123C91;
  --gray-std: #3b3a3a76;
  --whatsapp-std: #4AB743;
}

body::-webkit-scrollbar {
  width: 12px;
}

body::-webkit-scrollbar-thumb {
  background-color: var(--primary-l1);
  border-radius: 20px;
}

body::-webkit-scrollbar-track {
  background-color: var(--primary-g1);
}